@font-face{
    font-family: 'League Gothic';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-feature-settings: "kern";
    src: url('WOFF2/LeagueGothic-Regular.woff2') format('woff2'),
         url('WOFF/LeagueGothic-Regular.woff') format('woff'),
         url('OTF/LeagueGothic-Regular.otf') format('otf'),
         url('TTF/LeagueGothic-Regular.ttf') format('ttf');
}
