html,
body {
  font-family: 'Source Sans Pro', 'Source Sans 3', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
  background: black;
  margin: 0;
}

a, a:visited {
  color: inherit;
}

.cover {
  margin: 0;
  padding: 0;
}

.section {
  padding: 1rem;
}
.footer {
  color: #eee;
}

.block {
  display: block;
  padding: 0.5rem;
  border-radius: 2px;
}

.outline {
  border: 1px solid white;
}

.cta {
  color: white;
  text-decoration: none;
  font-family: 'Source Sans Pro', 'Source Sans 3', sans-serif;
  font-size: 1.5rem;
  min-width: 20ch;
}

.cta:hover {
  transition: 500ms;
  background-color: rgba(255, 255, 255, 0.25);
}

.header {
  background: black;
  color: white;
  font-family: 'Source Sans Pro', 'Source Sans 3', sans-serif;
  padding: 1rem;
  flex: auto;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
}

.header a {
  transition: color 500ms;
  color: #76414b;
  text-decoration: none;
  text-align: center;
  display: block;
  flex: 1 0 auto;
  padding: 8px;
}

.header a:hover {
  transition: 500ms;
  color: #b28147;
}


b {
  font-weight: 900;
  font-variant: all-small-caps;
}

.logo {
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
}

.nebula {
  font-family: 'Source Serif', serif;
  color: white;
  background-image: url('/static/orion_nebula_crop_rotate_flip.jpeg');
  background-position-x: 50%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  flex: auto;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: left;
  text-shadow: 0 0 1em rgba(102, 51, 153, 0.5)
}

.nebula .inner {
  max-width: 40ch;
  align-self: center;
  flex: 1 0 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
}

.row > * {
  flex: 0 1 auto;
}

.large {
  font-size: 1.5rem;
}


.footer p {
  margin-top: 0
}


.footer nav a {
  display: block;
  text-decoration: none;
  font-variant: all-small-caps;
  margin-bottom: 1rem;
  color: #999;
}

.footer nav a:hover {
  transition: 500ms;
  color: #eee;
}



/*

SCALES for Typography and Other Elements

0.25   =  4px
0.50   =  8px
0.75   = 12px
                  1.00   =  16px
1.25   = 20px   
                                    1.75   = 28px
2.00   = 32px     2.00   =  32px
                  3.00   =  48px
                                    3.50   = 56px
                  5.00   =  80px
                  8.00   = 128px
                 13.00   = 208px
                 21.00   = 336px
                 34.00   = 544px
                 55.00   = 880px

*/



@media (min-width: 481px) {
  .large { font-size: 1.75rem; }
  .header a { flex: 0 auto; }
  .header a { font-size: 1.25rem; }
}

@media (min-width: 769px) {
  .header, .nebula, .section { padding: 1.75rem; }
  .logo img { height: 3.5rem; }
  .footer {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 2fr 1fr;
  }
}

@media (min-width: 1025px) {
  .header, .nebula, .section{ padding: 2rem; }
  .header a { font-size: 1.75rem; }
  .large { font-size: 2rem; }
  .logo img { height: 5rem; }
}


