    <div id="fine_print">
      <div>
      <h2>Privacy Policy and Terms</h2>
        <p>We can see your phone number when you call but will never share it with anyone. Read the <a href="/static/privacy.txt">Privacy Policy</a> for more details.</p>
      <p>Review the <a href="/static/tos.txt">Terms of Service</a>.</p>
      </div>
      <div>
      <h2>Find Your Own Screams</h2>
      <p>Email <a href="mailto:info@justscream.baby">info@justscream.baby</a> with your phone number to get a list of your own screams.</p>
      </div>
      <div>
      <h2>Contact</h2>
      <p>Email us at <a href="mailto:info@justscream.baby">info@justscream.baby</a></p>
      <p>Follow us on Instagram: <a href="https://www.instagram.com/justscream.baby/">@justscream.baby</a></p>
      </div>
    </div>
