    <div id="fine_print">
      <div>
      <h2>What’s the deal?</h2>
      <ul>
        <li>When you call, we record you making sounds. Hopefully screaming.</li>
        <li>We take any recordings that users have submitted and upload them <a href="/listen">here</a> for anyone to hear.</li>
        <li>This website is an archive of the recordings we received from hundreds of thousands of callers.</li>
      </ul>
      <p><a href="/about/">Learn more</a></p>
      </div>
      <div>
      <h2>So can I call and scream right now?</h2>
      <p>The original Just Scream project closed on January 21, 2021. New ways to scream are coming soon!</p>
      </div>
      <div>
      <h2>What about my privacy?</h2>
      <p>We can see your phone number when you call but will never share it with anyone. Read the <a href="/static/privacy.txt">Privacy Policy</a> for more details.</p>
      </div>
      <div>
      <h2>Why should I call you?</h2>
      <p>To scream! You might be unhappy, terrified, frustrated, or elated. All of these are perfectly good reasons
      to call and record yourself screaming.</p>
      </div>
      <div>
      <h2>Can I do this in public?</h2>
      <p><em>Please</em> do this in public. Except not, perhaps, in a crowded theater.</p>
      </div>
      <div>
      <h2>Find Your Own Screams</h2>
      <p>Email <a href="mailto:info@justscream.baby">info@justscream.baby</a> with your phone number to get a list of your own screams.</p>
      </div>
      <div>
      <h2>Who made this?</h2>
      <p>A teacher, occasional artist, and generally rather quiet person named Chris Gollmar.</p>
      <p><a href="/about/">Learn more</a></p>
      </div>
      <div>
      <h2>All Other Inquiries</h2>
      <p>Review the <a href="/static/tos.txt">Terms of Service</a>.</p>
      <p>If you’re curious, read the <a href="/static/dev.txt">development notes and open source credits</a>.</p>
      <p>Contact us at <a href="mailto:info@justscream.baby">info@justscream.baby</a> with any comments or questions.</p>
      <p>Follow us on Instagram: <a href="https://www.instagram.com/justscream.baby/">@justscream.baby</a></p>
      </div>
    </div>
