<section>
  <a href="/">
  <div id="header_slim">
      <img id="logo_top" 
           src="/static/baby.png" 
           height="96px">
      <h1>
        <img src="/static/header_horizontal.svg" 
             alt="Just Scream!">
      </h1>
  </div>   <!-- #header -->
  </a>
  <spam class="call_to_action">
        Keep screaming. More importantly, keep listening.
    </span>
</section>
