<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JUST SCREAM!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Call, wait for the beep, scream, and hang up. That’s all there is to it.">
    <meta property="og:image" content="https://justscream.baby/static/fb_banner.png">
    <meta property="og:url" content="https://justscream.baby/">
    <meta property="og:image:alt" content="JUST SCREAM! Keep screaming. More importantly, keep listening.">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Call, wait for the beep, scream, and hang up. That’s all there is to it.">
    <meta property="og:title" content="JUST SCREAM!">
    {% include 'favicons.html' %}
    {% include 'stylesheets.html' %}
  </head>
  <body>
    <div id="top">
      <div id="top_inner">
              <a href="/home/">
              <div id="header">
      <img id="logo_top" src="/static/baby.png" height="240px">
      <h1>
        <picture>
          <source srcset="/static/header_horizontal.svg"
                  media="(min-width: 1025px)">
          <source srcset="static/header_vertical.svg">
          <img src="/static/header_vertical.svg" alt="Just Scream!"></h1>
        </picture>
        </h1>
              </div> <!-- #header -->
              </a>
      <div class="step_list">
        <div class="step">
          <p class="step_number">Step 1</p>
          <p class="step_text">Call</p>
          <p class="step_detail">Between October 2020 and January 2021, callers from around the world left over 150,000 recordings.</p>
        </div>
        <div class="step">
          <p class="step_number">Step 2</p>
          <p class="step_text">Scream</p>
          <p class="step_detail">People screamed with joy, rage, frustration, loneliness, and everything else there is to scream about.</p>
        </div>
        <div class="step">
          <p class="step_number">Step 3</p>
          <p class="step_text">Listen</p>
          <p class="step_detail">
            <a href="/listen/">We&rsquo;re done recording screams for now, but you can listen everything we&rsquo;ve collected.</a>
          </p>
        </div>
      </div>
      </div>
    </div>
    {% include 'scream_along_banner.html' %}
    {% include 'fine_print.html' %}
  </body>
</html>
