<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JUST SCREAM! Screams from {{ month_start.strftime('%B %Y') }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="https://justscream.baby/{{ path }}/">
    <meta property="og:title" content="JUST SCREAM! Screams from {{ month_start.strftime('%B %Y') }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://justscream.baby/static/fb_banner.png">
    <meta property="og:image:alt" 
          content="JUST SCREAM! Keep screaming. More importantly, keep listening.">
    <meta property="og:description" 
          content="Listen to playlists of our growing collection of screams and other recordings. That’s all there is to it.">
    <meta name="description" 
          content="Listen to playlists of our growing collection of screams and other recordings. That’s all there is to it.">
    {% include 'favicons.html' %}
    {% include 'stylesheets.html' %}
    <style>
      .calendar,
      .days-of-week {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 2px;
      }
      .days-of-week .day-of-week {
        text-align:center;
        font-family: 'League Gothic', sans-serif;
        color: #666;
        text-transform:uppercase;
        letter-spacing: 0.5px;
        font-size: 32px;
      }
      .calendar {
        grid-auto-rows: minmax(32px, 1fr);
      }
      .calendar *:first-child {
        grid-column: {{ month_start.day_of_week + 1 }};
      }
      .calendar > .day {
        display: block;
        background: #222;
        color: #666;
        text-align: center;
        text-decoration: none;
      }
      .calendar > .day > .date {
        display: block;
        color: #999;
        margin: 8px 0 16px 0;
        font-family: 'League Gothic', sans-serif;
        font-size: 24px;
      }
      .calendar > .day > .count {
        font-weight: 900;
        font-size: 16px;
        display: block;
        margin-bottom: 16px;
      }
      .count.max { color: yellow; }
      .count.high { color: darkorange; }
      .count.med { color: deeppink; }
      .count.low { color: rebeccapurple; }

      .count-label { 
        display: none;
        font-size: 12px;
        font-variant: all-small-caps;
      }

      @media (min-width: 480px) {
        .calendar, .days-of-week { grid-gap: 4px; }
        .count-label { display: block; }
      }
      @media (min-width: 1025px) {
        .calendar, .days-of-week { grid-gap: 8px; }
        .calendar > .day > .count { font-size: 24px; }
      }

    </style>
    <script src="/static/clicky-menus/clicky-menus.js"></script>
  </head>
  <body>
    {% include 'header_slim.html' %}
    <section id="main">
      <div class="pad">
        <h2>Screams from {{ month_start.strftime('%B %Y') }}</h2>
        <a class="breadcrumb" href="/listen/all/">&larr; All Months</a>
        <p class="large">Explore the many screams callers recorded this month.</p>
      <div class="days-of-week">
        <div class="day-of-week">Sun</div>
        <div class="day-of-week">Mon</div>
        <div class="day-of-week">Tue</div>
        <div class="day-of-week">Wed</div>
        <div class="day-of-week">Thu</div>
        <div class="day-of-week">Fri</div>
        <div class="day-of-week">Sat</div>
      </div>
      <div class="calendar">
        {% for add_days in range(0, month_start.days_in_month) %}
          {% set date = month_start.add(days=add_days) %}
          {% set count = day_counts[date.day] %}
          {% if 0 < count < 500 %}{% set count_class = 'low' %}
          {% elif 500 < count < 1000 %}{% set count_class = 'med' %}
          {% elif 1000 < count < 1500 %}{% set count_class = 'high' %}
          {% elif 1500 < count %}{% set count_class = 'max' %}{% endif %}
        {% if count > 0 -%}
        <a class="day" href="/listen/{{ date.strftime('%Y-%m-%d') }}/">
          <span class="date">{{ date.day }}</span>
          {% if count == 1 %}
          <span class="count {{ count_class }}">{{ count }}
            <span class="count-label"> scream</span>
          </span>
          {% else %}
          <span class="count {{ count_class }}">{{ count }}
            <span class="count-label"> screams</span>
          </span>
          {% endif %}
        </a>
        {%- else -%}
        <div class="day">
          <span class="date">{{ date.day }}</span>
          <span class="count">0 <span class="count-label">screams</span></span>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      </div>
      <nav id="explore-by-nav" class="pad">
        <ul class="explore-by clicky-menu no-js">
          <li class="pull-to-center">
            <a href="/{{ path }}/">
              <div> {{ month_start.strftime('%B %Y') }} </div>
            </a>
            <ul>
              <li><a href="/listen/all/">Explore More Dates</a></li>
              <li><a href="/listen/">Explore Playlists</a></li>
            </ul>
          </li>
          <li class="pull-to-start">
            {% if prev_month_start %}
            <a href="/listen/{{ prev_month_start.strftime('%Y-%m') }}/">
              &larr; {{ prev_month_start.strftime('%b. %Y') }}
            </a>
            {% endif %}
          </li>
          <li class="pull-to-end">
            {% if next_month_start %}
            <a href="/listen/{{ next_month_start.strftime('%Y-%m') }}/">
              {{ next_month_start.strftime('%b. %Y') }} &rarr;
            </a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </section>
    {% include 'fine_print.html' %}
  </body>
</html>
