<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JUST SCREAM! Playlists</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="https://justscream.baby/listen/">
    <meta property="og:title" content="JUST SCREAM! Playlists">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://justscream.baby/static/fb_banner.png">
    <meta property="og:image:alt" 
          content="JUST SCREAM! Keep screaming. More importantly, keep listening.">
    <meta property="og:description" 
          content="Listen to playlists of our growing collection of screams and other recordings. That’s all there is to it.">
    <meta name="description" 
          content="Listen to playlists of our growing collection of screams and other recordings. That’s all there is to it.">
    {% include 'favicons.html' %}
    {% include 'stylesheets.html' %}
  </head>
  <body>
    {% include 'header_slim.html' %}
    <section id="main">
      <div class="pad">
        <h2>Ready to Listen? Check out our playlists</h2>
        <p class="large text-white">There is more than one way to explore JUST SCREAM. Our creative callers have left all kinds of messages. Listen to these playlists of our growing collection of screams.</p>
      </div>
      <div id="playlist_grid" class="bg-black pad">
      {% for playlist in playlists -%}  
        <a class="playlist_link grow" href="/listen/{{ playlist.slug }}/">
          <h3>{{ playlist.name }}</h3>
          <p>{{ playlist.description_short }}</p>
          <p class="track_count">{{ playlist.track_count }} tracks</p>
        </a>
      {%- endfor %}
        <a class="playlist_link grow" href="/listen/all/">
          <h3>All Screams</h3>
          <p>This is the entire catalog of screams.</p>
          <p class="track_count">{{ total_track_count.c }} screams and counting</p>
        </a>
      </div>
    </section>
    {% include 'fine_print.html' %}
  </body>
</html>
