<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      JUST SCREAM! Screams from {{ date | fmt_date(fmt='long') }}
      {% if page and page > 0 -%} - Page {{ page }}{%- endif %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="https://justscream.baby/listen/{{ date.isoformat() }}">
    <meta property="og:title" content="JUST SCREAM!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://justscream.baby/static/fb_banner.png">
    <meta property="og:image:alt" 
          content="JUST SCREAM! Keep screaming. More importantly, keep listening.">
    <meta property="og:description" 
          content="Listen to screams recorded on {{ date.isoformat() }}.">
    <meta name="description" 
          content="Listen to screams recorded on {{ date.isoformat() }}.">
    {% include 'favicons.html' %}
    {% include 'stylesheets.html' %}
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="/static/clicky-menus/clicky-menus.js"></script>
  </head>
  <body>
    {% include 'header_slim.html' %}
    {% include 'player.html' %}
    <section id="main">
      <div id="playlist">
        <div id="playlist_header">
          <div>
            <h2>Screams from {{ date | fmt_date(fmt='long') }}</h2>
            <a class="breadcrumb" href="/listen">&larr; All Playlists</a>
          </div>
          <a href="#" 
             id="playall" 
             title="Listen to the whole playlist. Scream all day long.">
            Play All
          </a>
        </div>
        <div id="playlist_description" class="large text-white">
        {% if sample -%}
        <p>This is just a sample of the many screams recorded on
        {{ date | fmt_date(fmt='long') }}. Follow the links below to explore
        more screams from this day.</p>
        {%- endif %}
        <p>Want to find your own scream? Text LIST to +1-561-567-8431 to get a
        list of your recordings.</p>
      </div>
      <table>
        {% for rec in rec_list %}
        <tr class="track" data-filename="{{ rec.filename_mp3 }}">
          <td><a href="/screams/{{ rec.filename_mp3 }}"
                 id="play{{ rec.id }}" 
                 class="playtrack" 
                 title="Play scream {{ rec.id }}">▶</a></td>
          <td><a href="#" class="trackname">Scream #{{ '%05d' % rec.id }}</a></td>
          <td><span class="creation_dt">{{ rec.date_created | fmt_date(fmt='time') }}</span></td>
          <td><span class="transcription">{{ rec.transcription }}</span></td>
          <td><span class="duration">{{ rec.duration }}s</span></td>
          <td style="text-align: right; padding-right: 16px;">
            <a class="more" 
               href="/{{ rec.id }}">
            🔗 
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
      <nav id="explore-by-nav">
        <ul class="explore-by clicky-menu no-js">
          <li class="pull-to-center">
            <a href="{{ date | date_url }}">
              <div>
                {{ date | fmt_date(fmt='long') }}
                {% if num_pages -%}
                <span class="pagenum">Page {{ page }} of {{ num_pages }}</span>
                {%- endif %}
              </div>
            </a>
            <ul>
              <li><a href="#">Explore More Dates</a></li>
              <li><a href="#">Explore Playlists</a></li>
            </ul>
          </li>
          {% if num_pages %}
          <li class="pull-to-left">
          {% if page == 1 %}
          <a href="{{ date | date_url }}/" class="pageflip">&larr; Prev Page</a>
          {% elif page > 1 %}
          <a href="{{ date | date_url }}/{{ page - 1 }}" class="pageflip">&larr; Prev Page</a>
          {% endif %}
          </li>
          <li class="pull-to-right">
          {% if page == 0 %}
          <a href="{{ date | date_url }}/{{ page + 1 }}" class="pageflip">Hear More &rarr;</a>
          {% elif page < num_pages %}
          <a href="{{ date | date_url }}/{{ page + 1 }}" class="pageflip">Next Page &rarr;</a>
          {% endif %}
          </li>
          {% endif %}
          <li class="pull-to-start">
            {% if prev_date %}
            <a href="{{ prev_date | date_url }}">
              &larr; {{ prev_date | fmt_date(fmt='vshort') }}
            </a>
            {% endif %}
          </li>
          <li class="pull-to-end">
            {% if next_date %}
            <a href="{{ next_date | date_url }}">
              {{ next_date | fmt_date(fmt='vshort') }} &rarr;
            </a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </section>
    {% include 'scream_along_banner.html' %}
    {% include 'fine_print.html' %}
    <script src="/static/player.js?v=20201127-1"></script>
  </body>
</html>
