<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JUST SCREAM! All Screams</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="https://justscream.baby/listen/all/">
    <meta property="og:title" content="JUST SCREAM!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://justscream.baby/static/fb_banner.png">
    <meta property="og:image:alt" 
          content="JUST SCREAM! Keep screaming. More importantly, keep listening.">
    <meta property="og:description" 
          content="Listen to the newest additions to our growing collection of screams and other recordings. That’s all there is to it.">
    <meta name="description" 
          content="Listen to the newest additions to our growing collection of screams and other recordings. That’s all there is to it.">
    {% include 'favicons.html' %}
    {% include 'stylesheets.html' %}
    <script src="/static/clicky-menus/clicky-menus.js"></script>
    <style>
        .month_grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
          grid-auto-rows: minmax(160px, auto);
          grid-gap: 24px;
        }
        .month_grid > a {
          background-color: #222;
          padding: 16px;
          color: white;
          text-decoration:none;
          font-weight: 900;
          font-size:24px;
        }
        .month_grid > a > .count {
          display: block;
          font-variant: all-small-caps;
        }
        .month_grid > a > h3 {
          font-family: 'League Gothic', sans-serif;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          font-size: 32px;
        }
    </style>
  </head>
  <body>
    {% include 'header_slim.html' %}
    <section id="main">
      <div class="pad">
        <h2>All Screams</h2>
        <a class="breadcrumb" href="/listen/">&larr; All Playlists</a>
        <p class="large">Explore all of the recordings by month.</p>
        <div class="month_grid">
          {% for row in month_counts %}
          <a href="/listen/{{ row.month_start.strftime('%Y-%m') }}/">
            <h3>{{ row.month_start.strftime('%B %Y') }}</h3>
            <span class="count">{{ row.count }} screams</span>
          </a>
          {% endfor %}
        </div>
      </div>
    </section>
    {% include 'scream_along_banner.html' %}
    {% include 'fine_print.html' %}
  </body>
</html>
