<!DOCTYPE html>
<html lang="en">
  <head>
    {% if playlist -%}
    <title>JUST SCREAM! {{ playlist.name }}</title>
    {%- elif new -%}
    <title>JUST SCREAM! New Screams</title>
    {%- else -%}
    <title>JUST SCREAM! All Screams</title>
    {%- endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="https://justscream.baby/listen/{{ playlist.slug }}/">
    <meta property="og:title" content="JUST SCREAM!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://justscream.baby/static/fb_banner.png">
    <meta property="og:image:alt" 
          content="JUST SCREAM! Keep screaming. More importantly, keep listening.">
    {% if playlist %}
    <meta property="og:description" 
          content="{{ playlist.description_short }}">
    <meta name="description" 
          content="{{ playlist.description_short }}">
    {% else %}
    <meta property="og:description" 
          content="Listen to the newest additions to our growing collection of screams and other recordings. That’s all there is to it.">
    <meta name="description" 
          content="Listen to the newest additions to our growing collection of screams and other recordings. That’s all there is to it.">
    {% endif %}
    {% include 'favicons.html' %}
    {% include 'stylesheets.html' %}
    <script src="https://unpkg.com/wavesurfer.js"></script>
  </head>
  <body>
    {% include 'header_slim.html' %}
    {% include 'player.html' %}
    <section id="main">
      <div id="playlist">
        <div id="playlist_header">
          <div>
            <h2>
              {% if playlist -%}
              {{ playlist.name }}
              {%- elif new -%}
              New Screams
              {%- else -%}
              All Screams
              {%- endif %}
            </h2>
            <a class="breadcrumb" href="/listen">&larr; All Playlists</a>
          </div>
          <a href="#" 
             id="playall" 
             title="Listen to the whole playlist. Scream all day long.">
            Play All
          </a>
        </div>
        <div id="playlist_description" class="large text-white">
        {{ playlist.description_long | safe }}
      </div>
      <table>
        {% for rec in rec_list %}
        <tr class="track {% if rec.is_spam %} spam {% endif%}" 
            data-filename="{{ rec.filename_mp3 }}">
          <td><a href="/screams/{{ rec.filename_mp3 }}"
                 id="play{{ rec.id }}" 
                 class="playtrack" 
                 title="Play scream {{ rec.id }}">▶</a></td>
          <td><a href="#" class="trackname">Scream #{{ '%05d' % rec.id }}</a></td>
          {% if rec.moderation_queue_id %}<td>m.id: {{ rec.moderation_queue_id }}</td>{% endif %}
          <td>{% if rec.is_latest %}<span class="new" title="This scream is fresh!">New!</span>{% endif %}</td>
          <td><span class="creation_dt">{{ rec.date_created | fmt_date }}</span></td>
          <td><span class="transcription">{{ rec.transcription }}</span></td>
          <td><span class="duration">{{ rec.duration }}s</span></td>
          <td style="text-align: right; padding-right: 16px;">
            <a class="more" 
               href="/{{ rec.id }}">
            🔗 
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>
    </section>
    {% include 'scream_along_banner.html' %}
    {% include 'fine_print.html' %}
    <script src="/static/player.js?v=20201127-1"></script>
  </body>
</html>
