<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Screams</title>
    <link rel="stylesheet" href="/static/source-sans-pro/source-sans-3.css"></link>
    <style>
      html, body {
        font-size: 16px;
        font-family: 'Source Sans Pro', 'Source Sans 3', sans-serif;
        background-color: black;
        color: white;
      }
      .wrapper {
        max-width: 640px;
        margin: 2rem auto;
      }
      .large {
        font-size: 1.25rem;
      }
      a {
        color: inherit;
        text-decoration: underline;
      }
      a:visted { color: inherit; }
      .help {
        color: #ccc;
      }
      .timestamp {
        color: #ccc;
        font-variant: all-small-caps;
        padding: 0 0.5em;
      }
      .download {
        text-decoration: none;
        display: inline-block;
        color: white;
        background-color: rebeccapurple;
        font-variant: all-small-caps;
        border-radius: 4px;
        padding: 2px 4px;
      }
      li {
        margin-bottom: 4px;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <img src="/static/header_horizontal.svg" width="100%">
      <h1>Your Screams</h1>
      <p class="large">Thank you for contributing your voice to Just Scream! This is a temporary list of your screams. Access to this list at this URL will expire 24 hours after it was created.</p>
      {% if recordings.ok|count + recordings.queued|count + recordings.no|count == 0 -%}
      <p>There are no recordings found for your phone number. If you believe this is an error, please email <a href="mailto:info@justscream.baby">info@justscream.baby</a></p>
      {%- endif %}
      {% if recordings.ok -%}
      <h2>Published</h2>
      <p class="help">These recordings are already live on <a href="https://justscream.baby">justscream.baby</a>.</p>
      <ul>
        {% for rec in recordings.ok -%}
        <li>
          <a href="/{{ rec.id }}">Scream #{{ '%06d' % rec.id }}</a>
          <span class="timestamp">{{ rec.date_created|format_datetime }}</span>
          <a href="/screams/{{ rec.filename_mp3 }}" download="scream-{{ rec.id }}.mp3" class="download">Download MP3</a>
        </li>
        {%- endfor %}
      </ul>
      {%- endif %}
      {% if recordings.queued -%}
      <h2>Pending</h2>
      <p class="help">These recordings are waiting to be screened. You can download them here, but they are not yet available at <a href="https://justscream.baby">justscream.baby</a>. Think these are ready to go live? <a href="mailto:info@justscream.baby">email us to jump the line</a>.
      <ul>
        {% for rec in recordings.queued -%}
        <li>
          Scream #{{ '%06d' % rec.id }}
          <span class="timestamp">{{ rec.date_created|format_datetime }}</span>
          <a href="/screams/{{ rec.filename_mp3 }}" download="scream-{{ '%06d' % rec.id }}.mp3" class="download">Download MP3</a>
        </li>
        {%- endfor %}
      </ul>
      {%- endif %}
      {% if recordings.no -%}
      <h2>Not Published</h2>
      <p class="help">These recordings have been screened and will not be published. In most cases, that&rsquo;s because they are not screams!</p>
      <ul>
        {% for rec in recordings.no -%}
        <li> Scream on {{ rec.date_created|format_datetime }} </li>
        {%- endfor %}
      </ul>
      {%- endif %}
      <h2>Can you help out?</h2>
      <p class="large">Please consider <a href="https://ko-fi.com/gollmar">chipping in a few dollars</a> to support the ongoing development of this website. <a href="https://ko-fi.com/gollmar">Learn more at ko-fi.com/gollmar</a></p>
    </div>
  </body>
</html>


