<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JUST SCREAM! {{ meta.title_short }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="https://justscream.baby/{{ meta.slug }}/">
    <meta property="og:title" content="JUST SCREAM! {{ meta.title_short }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://justscream.baby/static/fb_banner.png">
    <meta property="og:image:alt" 
          content="JUST SCREAM! Keep screaming. More importantly, keep listening.">
    <meta property="og:description" content="{{ meta.description }}">
    <meta name="description" content="{{ meta.description }}">
    {% include 'favicons.html' %}
    {% include 'stylesheets.html' %}
  </head>
  <body>
    {% include 'header_slim.html' %}
    <section id="main" class="page">
      <div class="pad text-white">
        <h2>{{ meta.title_long }}</h2>
        <a class="breadcrumb" href="/">&larr; Home</a>
        <p class="large">{{ meta.description }}</p>
        {{ content | safe }}
      </div>
    </section>
    {% include 'fine_print_mini.html' %}
  </body>
</html>
