<div class="banner">
  <div>
          <h2 class="large">Thanks for screaming!</h2>
          <p class="large">Want to find your own scream? Email <a href="mailto:info@justscream.baby">info@justscream.baby</a> with your phone number for a link to your own screams.</p>
  </div>
</div>
