<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JUST SCREAM! #{{ '%05d' % rec.id }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Listen to our growing collection of screams, then call to leave your own. That’s all there is to it.">
    <meta property="og:image" content="https://justscream.baby/static/fb_banner.png">
    <meta property="og:url" content="https://justscream.baby/listen/screams/{{ rec.id }}/">
    <meta property="og:image:alt" content="JUST SCREAM! Keep screaming. More importantly, keep listening!">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Listen to our growing collection of screams, then call to leave your own. That’s all there is to it.">
    <meta property="og:title" content="JUST SCREAM! #{{ '%05d' % rec.id }}">
    <meta charset="utf-8">
    {% include 'favicons.html' %}
    {% include 'stylesheets.html' %}
    <script src="https://unpkg.com/wavesurfer.js"></script>
  </head>
  <body>
    {% include 'header_slim.html' %}
    {% include 'player.html' %}
    <section id="main">
      <div id="scream_card">
        <h2 class="scream_id">
          <a href="/{{ rec.id }}">
            Scream #{{ '%05d' % rec.id }}
          </a>
        </h2>
        <div class="scream_details" data-filename="{{ rec.filename_mp3 }}">
          <span class="date_created">Recorded: {{ date_created_dt.strftime('%b. %-d, %Y at %H:%M UTC') }}</span>
          <span class="duration">Duration: {{ rec.duration }}s</span>
          <a href="/screams/{{ rec.filename_mp3 }}" 
             download="scream{{ '%05d' % rec.id }}.mp3">Download MP3</a>
          {% if False %}
          <a class="playlist_label" href="#">Hope</a>
          {% endif %}
        </div>
      </div>
    </section>
    {% include 'scream_along_banner.html' %}
    {% include 'fine_print.html' %}
  <script src="/static/player.js?v=20201127-1"></script>
  </body>
</html>
